html, body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    height:100%;
    box-sizing: border-box;
}

header{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

blockquote{
    border-left: 0 dashed;
    color: #333333;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0 0 0 80px;
    position: relative;
}

blockquote:after{
    border-left: 1px dashed;
    content: "";
    height: 75%;
    left: 0;
    position: absolute;
    top: 15%;
    width: 1px;
}

section img{
    width: 100%;
    height: auto;
}
/*Media Query*/
@media (max-width: 600px) {
    blockquote{
        padding: 0px;
    }

    blockquote:after{
        border: none;
    }
}

